.boton{
    width: 100%;
    text-align: center;
    padding-inline: 10px;
    
}

.guardar{
    width: 200px;
    height: 45px;
    padding-top: 10px;
   margin-left: 50%;
   transform: translateX(-50%);
 }