<ion-header>
  <ion-toolbar>
    <ion-title>
      Mapa de Peligros Potenciales:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapfinal">
    
  </div>
</ion-content>
<ion-icon  name = "alien" src="alien.svg" ></ion-icon >
<!-- <ion-button id="salir" expand="block" fill="outline" size="large">Salir</ion-button>-->
<ion-fab  vertical="center" horizontal="end" slot="fixed" >
  <ion-fab-button (click)="presentActionSheet()" color="danger" >Info</ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed" >
  <ion-fab-button (click)="abrirPeligros()" color="danger">+</ion-fab-button>
</ion-fab>


