.centrado{
        width: 100%;
        text-align: center;
  }

  .color{
    background-color: 0010DE;
  }

  .vertical-space{
    margin-bottom: 75px;
    margin-top: 10px;
    --inner-border-width:0px;
}

.center{
    width: 100%;
    text-align: center;
}
.boton{
   width: 200px;
   height: 45px;
   
  margin-left: 50%;
  transform: translateX(-50%);
}
